@import "../../css/mixins.scss";

.add-node{
    width: 100%;
    aspect-ratio: 10/8;
    background-color: green;
}
.toolbar-item-selected{
    border: solid 1px orange;
    border-radius: 15%;
}

.dialog-item{
    background-color: rgba(0, 255, 150, 150);
    @include genericBackgroundImage("dialog_bubble", no-repeat, contain, center);
    //align-self: flex-start;
}

.script-item{
    background-color: rgba(0, 150, 255, 150);
    @include genericBackgroundImage("code_icon_raw", no-repeat, contain, center);    
    //align-self: flex-start;
}