.dividing-container{
    
}

.divider-border-top{
    border-top: solid 1px lightgray;
}

.divider-border-left{
    border-left: solid 1px lightgray;
}

.divider-border-bottom{
    border-bottom: solid 1px lightgray;
}

.divider-border-right{
    border-right: solid 1px lightgray;
}