.main-pane{
    position: fixed; //??
    display: flex;
    flex-direction: column;
    height: 100%;//vw;
    width: 100%;//vw;


    .menu-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        //border: solid 2px red;
    }

    .work-area{
        display: flex;
        flex-direction: row;
        flex: 30;
        //border: solid 2px green;

        .left-nav{
            flex: 1;
            //border: solid 2px black;
        }

        .canvas-toolbar{
            flex: 0.15;
            //border: dotted 1px red;
        }

        .canvas-container{
            flex: 6;
            //border: solid 2px blue;
            //overflow: hidden;
        }

        .right-pane{
            flex: 2;
            //border: solid 2px gray;
        }
    }

    .footer{
        display: flex;
        flex-direction: row;
        flex: 1;
    }
}