.script-card{
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;

    .flex-column{
        flex-direction: column;
    }

    .script-and-arguments{
        display: flex;

        .function-span{
            color: rgb(165, 133, 53);
        }

        .paranthesis{
            color: rgb(224, 183, 0);
        }

        .after-open-paranthesis{
            display: flex;
            
            .arguments-line{
                display: flex;

                .argument-padding{
                    padding-left: 2rem;
                }

                .argument-name-value{
                    //display: flex;
                    

                    .argument-left-hand{
                        color: rgb(78, 160, 228);
                    }

                    .argument-equal-sign, .argument-comma{
                        color:rgb(90, 90, 90);
                        white-space: pre-wrap;
                    }

                    .argument-string{
                        color: rgb(148, 76, 54); 
                    }
                    .argument-number{
                        color:rgb(121, 161, 111);
                    }
                    .argument-boolean, .argument-null{
                        color:rgb(43, 77, 139)
                    }                                                          
                }
            }
        }
    }
}