.card-container{
    position: absolute; //relative;
    width: 100%;
    height: 100%;


    .without-connectors{
        width: 100%;
        height: 100%;

        border: solid 1px black;
        border-radius: 4%;        
        overflow: hidden;     

        .card-layout-container{
            width: 100%;
            height: 100%;
            padding: 2% 5% 2% 5%;
        }        
    }

}