// .dialog-card-grid-layout{
//     width: 100%;
//     height: 100%;
//     display: grid;
//     gap: 0.3rem 0.2rem;
//     grid-template-columns: 1fr 2.65fr;
//     grid-template-rows: minmax(0, 1fr) 2.65fr;

//     .dialog-card-picture{
//         grid-column: 1 / span 1;
//         grid-row: 1 / span 1;
//         padding: 5%;

//         width: 100%;
//         height: 100%;
//     }    
    
//     .name-and-preview{
//         grid-column: 2 / span 1;
//         grid-row: 1 / span 1;
//         border: solid 1px gray;
//         display: flex;
//         flex-direction: column;

//         .dialog-card-name{
//             font-size: 0.6rem;
//             width: 100%;
//             flex: 0.5;
//         }

//         .dialog-card-preview{
//             width: 100%;
//             flex/* -grow */: 1;
//             border: solid 1px gray;
//             border-left: none;
//             border-bottom: none;
//             overflow-y: scroll;
//             // min-width: 0;
//             &::-webkit-scrollbar {
//                 display: none;
//             }

//         }        
//     }

//     .dialog-card-full{
//         grid-column: 1 / span 2;
//         grid-row: 2 / span 1;   
//         border: solid 1px brown;     

//         .dialog-card-inner-container{
//             //height: 5rem;
//         }
//     }
// }







// .dialog-card-layout{
    
//     .avatar-name-and-preview{

//         .dialog-avatar{

//         }

//         .name-and-preview{

//             .dialog-name{

//             }

//             .dialog-preview{

//             }
//         }
//     }

//     .dialog-full{

//     }
// }











.dialog-card-layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .picture-against-name-and-preview{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .dialog-card-picture{
            width: 25%;
            //flex: 1;
            //height: 0;
            height: 100%;
            //padding-top: 25%; //or 100%?
            //position: relative;
        }   
        
        .name-and-preview{
            //flex: 3;
            display: flex;
            flex-direction: column;
            width: 75%;
            height: 100%;
            gap: 0.1rem;
            
            .dialog-card-name{
                font-size: 0.6rem;
                width: 100%;
                height: 30%;
                border-left: solid 1px gray;
                border-bottom: solid 1px gray;

                flex-wrap: wrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }                 
            }

            .dialog-card-preview{
                //height: 20%;
                width: 100%;
                height: 70%;
                border-left: solid 1px gray;
                border-bottom: solid 1px gray;

                flex-wrap: wrap;
                overflow-x: hidden;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }                
            }
        }
    }

    .dialog-card-full{
        width: 100%;;
        height: 50%;
        border-left: solid 1px gray;
        border-bottom: solid 1px gray;

        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }  
    }  
}