.container-node-text-and-preview{

    .text-box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5% 0;
        
        .preview-text-content{
            height: 25%;
        }


        .full-text-content{
            height: 50%;
        }          
    }

}

